<h1><center>Laboratorio 4: El Pandas no muerde (act. I) 游냪</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci칩n Cient칤fica para Ciencia de Datos</strong></center>

### Cuerpo Docente:

- Profesor: Pablo Badilla y Ignacio Meza D.
- Auxiliar: Sebasti치n Tinoco
- Ayudante: Felipe Arias y Diego Cortez

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no ser치n revisados

- Nombre de alumno 1: Sof칤a Callejas
- Nombre de alumno 2: Iv치n Meneses

### **Link de repositorio de GitHub:** `https://github.com/ivanandresmt/lab_4.git`

### Reglas:

- **Grupos de m치ximo 2 personas**
- Asistencia **obligatoria** a instrucciones del lab (viernes 16.15). Luego, pueden quedarse trabajando en las salas o irse.
- **No se revisar치n entregas de personas ausentes**. 
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser치n respondidos por este medio.
- Prohibidas las copias. 
- Pueden usar cualquer matrial del curso que estimen conveniente.

### Temas a tratar

- Introducci칩n al manejo de datos tabulares por medio de la libreria `pandas`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pandas` para manejar datos tabulares.
- Aprender a utilizar la documentaci칩n de pandas (y en general, de cualquier librer칤a de python) como tambi칠n a buscar soluciones en la web.

> **Nota**: El laboratorio deber치 ser desarrollado sin el uso indiscriminado de iteradores nativos de python (aka "for", "while"). La idea es que aprendan a exprimir al m치ximo las funciones optimizadas que nos entrega `pandas`, las cuales vale mencionar, son bastante m치s eficientes que los iteradores nativos sobre DataFrames.

### Librerias utiles para el Lab 游땾

In [ ]:
# Libreria Core del lab.
import numpy as np
import pandas as pd
from IPython.display import display

#Libreria para plotear
#!pip install --upgrade plotly
import plotly.express as px
import plotly.graph_objects as go

# Librerias utiles
from sklearn.preprocessing import StandardScaler

# 1. Rendimiento en Estudiantes 游닄

Para este laboratorio deber치n trabajar con el dataset `students_grades.json` el cual contiene informaci칩n sobre el rendimiento de alumnos en distintos ramos. 
El objetivo principal ser치 el de realizar un trabajo de limpieza de prepraci칩n y exploraci칩n de datos utilizando exclusivamente `DataFrames` y sus m칠todos asociados.

In [ ]:
# Si usted est치 utilizando Colabolatory le puede ser 칰til este c칩digo para cargar los archivos.
try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = '/content/drive/MyDrive/students_grades.json'
except: 
    print('Ignorando conexi칩n drive-colab')

Mounted at /content/drive

## 1.1 Carga e Inspecci칩n de Datos [1.5 Puntos]


<p align="center">
  <img src="https://drive.google.com/uc?export=view&id=1hZZaPQlZe4VupFOXt76_wjuUA5NpUhrw" width="300" height="300">
</p>

*Don Caguayo*, rector de la Universidad de la Cacha침a, les comenta que actualmente la Universidad no tiene una subdirecci칩n de an치lisis de datos, pero que tiene un gran inter칠s en formar una. Es por esto, que se contacta con ud. y su equipo para iniciar de forma exploratoria diversas tareas de an치lisis y consolidaci칩n de datos respectivos al rendimiento de sus alumnos.

Previo a su primera reuni칩n con el rector, el rector le env칤a una copia de la base de datos, la cu치l a usted y su equipo le encantar칤a examinar. Para esto, la primera tarea que debe realizar es abrir y cargar el dataset. 


> **Notar que es sumamente importante el formato que posee cada columna** para su manipulaci칩n y que posiblemente ustedes deber치n especificar algunos tipos de datos a mano. Ver la documentaci칩n del m칠todo `read_json` para mayor informaci칩n.

A continuaci칩n se muestra un ejemplo de los dos primeros registros del dataset:

```json
[
  {
    "names": "Rita Courtney",
    "gender": "female",
    "race/ethnicity": "group B",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 37,
    "reading score": 46,
    "writing score": 46
  },
  {
    "names": "Madeline Fuller",
    "gender": "female",
    "race/ethnicity": "group C",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 124,
    "reading score": 142,
    "writing score": 142
  }
]
```


<p align="center">
  <img src="https://i.giphy.com/media/4FQMuOKR6zQRO/giphy.webp">
</p>


Posteriormente, el rector les comenta que la secci칩n de TI posee una base de datos con m치s de **875** filas, en donde cada fila representa un alumno matriculado. Sin embargo, cree fuertemente que existen errores en esta: solo tiene registro de **875** matriculas. Por este motivo, especula que se han realizado malas pr치cticas al registrar dichos datos.

En consecuencia, el rector les solicita a ustedes como tarea inicial que exploren la base de datos y encuentre posibles falencias dentro de sus registros. Para esto, usted debe estar al tanto que las notas est치n en una escala que van del **0 al 100** (porcentaje de logro) y **no es posible que un alumno haya dado m치s de una vez el mismo examen**. Cualquier alumno que posea un valor diferente a esta escala, deber칤a ser eliminado de la base de datos.

In [ ]:
df_grades = pd.read_json(path)

In [ ]:
df_grades['math score'] = pd.to_numeric(df_grades['math score'])
df_grades['reading score'] = pd.to_numeric(df_grades['reading score'])
df_grades['writing score'] = pd.to_numeric(df_grades['writing score'])

> **Instrucciones**

**Cree una funci칩n** que tome un `DataFrame` y que le permita revisar si las diferentes variables que lo componen son coherentes y si es posible observar anomal칤as en estas. 

**To-Do**
1. [ ] Imprimir un mensaje con las dimensiones del Dataframe.
2. [ ] Imprimir un mensaje con los nombres de las columnas que conforman el DataFrame.
3. [ ] Mostrar los primeros 5, los 칰ltimos 5 elementos del DataFrame y realice un muestreo de 5 elementos de forma aleatoria.
4. [ ] Mostrar una descripci칩n r치pida de las variables num칠ricas del DataFrame (utilice un m칠todo visto en clases).
5. [ ] Imprimir un mensaje con la cantidad de valores nulos (investigue el m칠todo `isna()` y `sum()` de los DataFrames).
6. [ ] Imprimir un mensaje que detalle la cantidad de valores unicos (investigue `nunique()`) .
7. [ ] Imprimir un mensaje con el total de filas que contengan nombres duplicados (investigue `duplicated()` y su par치metro `subset`).
8. [ ] Mostrar las filas que contengan nombres sean duplicados (investigue `duplicated()` y su par치metro `subset`).
9. [ ] A traves de `.plot.box()` plotear el boxplot de las notas. De ser necesario, invetigue como funcionan los gr치ficos de caja (esta secci칩n es provista).
10. [ ] Finalmente responda la siguiente pregunta:

> 쯈ue anomalias es posible observar de los datos que componen el DataFrame? 쮼xisten valores nulos o duplicados? 쯈u칠 puede interpretar de la distribuci칩n de las notas en el boxplot? (), comente esto en la celda ubicada debajo de **justificaci칩n**.

> **Nota:** Para imprmir utilice `print(...)`. Para mostrar `DataFrames`, utilice `display(...)` ya que este permite mostrar estos elementos como tablas.

> **Nota 2:** Utilice la documentaci칩n de [pandas](https://pandas.pydata.org/docs/index.html) como tambi칠n StackOverflow para resolver cualquier problema o inconveniente.

> **Nota 3:** Si no ha trabajado con boxplot antes, el siguiente link puede serle de mucha ayuda: [boxplot](https://medium.com/dayem-siddiqui/understanding-and-interpreting-box-plots-d07aab9d1b6c)

**Respuesta:**

In [ ]:
def exploratory_data_analysis(dataframe):
    
    x , y = dataframe.shape 
    print(f'1.- Este dataframe tiene {x} filas y {y} columnas.')
    print("")
    print(f'2.-Las columnas del dataframe son: {dataframe.columns.values}')
    print("")
    print("3.- Primeros 5 registros del Dataframe:")
    display(dataframe.head(5))
    print("")
    print("칔ltimos 5 registros del Dataframe:")
    display(dataframe.tail(5))
    print("")
    print("Cinco registros aleatorios del Dataframe:")
    display(dataframe.sample(5))
    print("")
    print("4.- Desripci칩n de las columnas num칠ricas:")
    display(dataframe[{"math score","reading score","writing score"}].describe().round(0))
    print("")
    dataframe[['math score', 'reading score','writing score']].describe()
    print("")
    print("5.- La cantidad de valores nulos por columna son:")
    print("")
    print(f"{dataframe.isnull().sum()}")
    print("")
    print("6.- La cantidad de valores 칰nicos por columna son:")
    print("")
    print(f"{dataframe.nunique()}")
    print("")
    duplicados = dataframe.duplicated(subset=["names"]).sum()
    print(f"7.- La cantidad de nombres duplicados en la columna 'names' es {duplicados}.")
    print("")
    print("8.- Las filas con nombres duplicados son:")
    display(dataframe[dataframe.duplicated(subset=["names"])])
    print("")
    print("9.- Boxplot de notas:")
    fig = go.Figure()
    fig = go.Figure()
    fig.add_trace(go.Box(y=dataframe["math score"], name="math score"))
    fig.add_trace(go.Box(y=dataframe["reading score"], name = "reading score"))
    fig.add_trace(go.Box(y=dataframe["writing score"], name = "writing score"))
    fig.show()

In [ ]:
df_grades = df_grades.drop_duplicates(subset=["names"])

In [ ]:
df_grades = df_grades.dropna(subset = ["math score", "reading score", "writing score"])

df_grades = df_grades.drop_duplicates(subset=["names"])

In [ ]:
exploratory_data_analysis(df_grades)

1.- Este dataframe tiene 1084 filas y 9 columnas.

2.-Las columnas del dataframe son: ['names' 'gender' 'race/ethnicity' 'parental level of education' 'lunch'
 'test preparation course' 'math score' 'reading score' 'writing score']

3.- Primeros 5 registros del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0
1,Madeline Fuller,female,group C,some high school,standard,none,124.0,142.0,142.0
2,Daniel Rester,male,group E,associate's degree,standard,none,156.0,196.0,193.0
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
4,Geraldine Hale,female,group A,associate's degree,standard,none,131.0,166.0,166.0

칔ltimos 5 registros del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1392,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0
1397,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0
1399,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0

Cinco registros aleatorios del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
554,Anthony Brown,male,group A,some college,standard,completed,78.0,72.0,70.0
944,Fannie Hindman,female,group D,high school,standard,none,67.0,72.0,74.0
101,Cathy Kuhl,female,group E,high school,free/reduced,completed,57.0,75.0,73.0
736,Dylan Mora,male,group B,some high school,standard,completed,131.0,193.0,124.0
613,Shane Polite,male,group C,master's degree,free/reduced,completed,188.0,193.0,142.0

4.- Desripci칩n de las columnas num칠ricas:

<ipython-input-6-b64b6bba97ec>:18: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  display(dataframe[{"math score","reading score","writing score"}].describe().round(0))

       math score  writing score  reading score
count      1084.0         1084.0         1084.0
mean         83.0           86.0           87.0
std          42.0           43.0           41.0
min           0.0           10.0           17.0
25%          59.0           61.0           62.0
50%          70.0           73.0           74.0
75%          87.0           88.0           89.0
max         196.0          196.0          196.0

5.- La cantidad de valores nulos por columna son:

names                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

6.- La cantidad de valores 칰nicos por columna son:

names                          1084
gender                            2
race/ethnicity                    5
parental level of education       6
lunch                             2
test preparation course           2
math score                       94
reading score                    88
writing score                    92
dtype: int64

7.- La cantidad de nombres duplicados en la columna 'names' es 0.

8.- Las filas con nombres duplicados son:

Empty DataFrame
Columns: [names, gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

9.- Boxplot de notas:

**Justificaci칩n:**

In [ ]:
df_grades = df_grades.drop(df_grades[(df_grades['math score'] > 100) | (df_grades['math score'] < 0)].index)
df_grades = df_grades.drop(df_grades[(df_grades['reading score'] > 100) | (df_grades['reading score'] < 0)].index)
df_grades = df_grades.drop(df_grades[(df_grades['writing score'] > 100) | (df_grades['writing score'] < 0)].index)

```
S칤, existen anomalias, ya que, hay alumnos que tienen notas fuera 
de la escala, es decir mayores a 100. Dado lo anterior, se eliminan 
del dataframe aquellos registros que tienen notas en las variables 
"math score" , "reading score" y "writing score" mayores a 100 y/o 
menores a 0. Una vez realizado esto, se detecta que hay 7 alumnos 
duplicados y adem치s 8 valores nulos repartidos en las variables 
"math score" , "reading score" y "writing score". 
Con lo que respecta al gr치fico de cajas, se puede interpretar que de 
las 3 asignaturas, la que tiene mayor media es "reading score" con un valor
de 70. Adem치s decir que para el caso de la variable "math score" hay outliers que
se "escapan" m치s lejos de la concentraci칩n de los datos, alcanzando valores
inclusive iguales a cero, lo que no ocurre para el caso de las otras asignaturas.
Por 칰ltimo decir que con lo que respecta a los cuartiles, el 75% (Q3) de los 
alumnos tienen "math score" por debajo de los 77 puntos, lo que significa
de otra forma que s칩lo el 25% de los alumnos tiene un puntaje superior a 77
puntos en la variable "math score".
```

**Respuesta Esperada:**

## 1.2 Limpieza de Datos [1 punto]

<p align="center">
  <img src="https://blogdatlas.files.wordpress.com/2020/07/datlas_mx_blog_limpieza_bds_data-scrubbing-service.gif">
</p>

En base a lo realizado anteriormente, realice una limpieza de los dataset. Asuma los supuestos se침alados en la pregunta anterior para limpiar el `DataFrame` y cree una funci칩n que le permita limpiar los datos. Habiendo limpiado el `DataFrame`, compruebe nuevamente los datos con la funci칩n creada en la secci칩n 1.1.

**To-Do:**

- [ ] Crear funci칩n que permita limpiar el dataset.
- [ ] Comprobar que no existen anomal칤as en los datos a traves de la funci칩n de la secci칩n 1.1.

**Hint**

Puede ser 칰til los m칠todos ```.drop_duplicates()``` y ```.dropna()``` como tambi칠n utilizar queries con m치scaras booleanas.

**Respuesta:**

In [ ]:
clean_data(df_grades)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
5,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0
6,Howard Jimenez,male,group E,some high school,standard,completed,81.0,75.0,76.0
7,Wayne Wilson,male,group B,some high school,standard,completed,94.0,86.0,87.0
...,...,...,...,...,...,...,...,...,...
1392,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0
1397,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0
1399,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0

In [ ]:
def clean_data(df):
    
    #se eliminan registros que tienen puntajes fuera de la escala 0-100.
    df = df.drop(df[(df['math score'] > 100) | (df['math score'] < 0)].index)
    df = df.drop(df[(df['reading score'] > 100) | (df['reading score'] < 0)].index)
    df = df.drop(df[(df['writing score'] > 100) | (df['writing score'] < 0)].index)

    #se eliminan valores NA  que se encuentran en cualquiera de las columnas de puntaje.
    df = df.dropna(subset = ["math score", "reading score", "writing score", "names"])

    #se eliminan registros que estan duplicados (nombres duplicados).
    df = df.drop_duplicates(subset=["names"])
    
    return df

In [ ]:
exploratory_data_analysis(df_grades)

1.- Este dataframe tiene 875 filas y 9 columnas.

2.-Las columnas del dataframe son: ['names' 'gender' 'race/ethnicity' 'parental level of education' 'lunch'
 'test preparation course' 'math score' 'reading score' 'writing score']

3.- Primeros 5 registros del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
5,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0
6,Howard Jimenez,male,group E,some high school,standard,completed,81.0,75.0,76.0
7,Wayne Wilson,male,group B,some high school,standard,completed,94.0,86.0,87.0

칔ltimos 5 registros del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1392,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0
1397,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0
1399,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0

Cinco registros aleatorios del Dataframe:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1391,Amy Sieving,female,group C,high school,standard,none,29.0,29.0,30.0
1371,Charles Harian,male,group C,some high school,free/reduced,completed,45.0,52.0,49.0
227,David Davis,male,group C,bachelor's degree,free/reduced,none,53.0,58.0,55.0
309,Rosemary Pratt,female,group B,associate's degree,standard,none,73.0,83.0,76.0
1314,Shirley Nicholls,female,group E,master's degree,free/reduced,none,56.0,72.0,65.0

4.- Desripci칩n de las columnas num칠ricas:

<ipython-input-6-b64b6bba97ec>:18: FutureWarning:

Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.

       math score  writing score  reading score
count       875.0          875.0          875.0
mean         66.0           68.0           69.0
std          15.0           15.0           15.0
min           0.0           10.0           17.0
25%          57.0           58.0           59.0
50%          66.0           69.0           70.0
75%          76.0           79.0           79.0
max         100.0          100.0          100.0

5.- La cantidad de valores nulos por columna son:

names                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

6.- La cantidad de valores 칰nicos por columna son:

names                          875
gender                           2
race/ethnicity                   5
parental level of education      6
lunch                            2
test preparation course          2
math score                      79
reading score                   72
writing score                   77
dtype: int64

7.- La cantidad de nombres duplicados en la columna 'names' es 0.

8.- Las filas con nombres duplicados son:

Empty DataFrame
Columns: [names, gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

9.- Boxplot de notas:

> Utilice la funci칩n creada en el punto 1.1 para verificar sus resultados.

**Justificaci칩n:**

```
Al aplicar la funcion "clean_data" al dataset, se logra eliminar aquellos registros que tienen puntajes en cualquiera de las pruebas fuera de la 
escala 0-100, adem치s, se eliminan aquellos nombres duplicados y valores NA presentes en cualquiera de las variables m치s importantes, que son: nombre, puntaje de matem치ticas, puntaje de lectura y puntaje de escritura; que se consideran fundamentales para definir como registro v치lido.
```

## 1.3 Trabajando con Datos

<p align="center">
  <img src="https://media3.giphy.com/media/YQitE4YNQNahy/giphy-downsized-large.gif">
</p>

### 1.3.1 Transformaci칩n de notas a "Nota Chilena" [0.5 Puntos]

En una de las reuniones con Don Caguayo este les comenta su intenci칩n de pasar todas sus notas a la "Escala Chilena". Para esto les facilita la siguiente ecuaci칩n:

$$Nota \, Chilena= \% \, de \, logro*0.06 + 1$$

Utilizando la ecuaci칩n entregada, cree una funci칩n que le permita pasar a la escala Chilena las notas que se escapan del rango [1,7] y entregue las notas redondeadas al segundo decimal.

**To-Do**

- [ ] Tranforme los valores a la escala chilena.

In [ ]:
display(df_grades)

In [ ]:
df_grades["math score"].transform(lambda x: x*0.06+1).round(2)

0       3.22
3       5.80
5       5.38
6       5.86
7       6.64
        ...
1392    5.14
1394    2.38
1396    4.96
1397    4.24
1399    5.08
Name: math score, Length: 875, dtype: float64

**Respuesta:**

In [ ]:
def nota_chilena(dataframe_in, columna):
  notas_transformadas = dataframe_in[columna].transform(lambda x: x*0.06+1).round(2)
  return notas_transformadas

In [ ]:
nota_chilena(df_grades,"reading score")

0       3.76
3       5.68
5       4.96
6       5.50
7       6.16
        ...
1392    5.50
1394    3.64
1396    5.44
1397    4.66
1399    5.80
Name: reading score, Length: 875, dtype: float64

### 1.3.2 Obtenci칩n de promedio de alumnos [0.5]

Con todas las notas adjuntadas, la prestigiosa Universidad De la Cacha침a necesita obtener el promedio general de cada uno de los alumnos. Para esto se le solicita que calcule el promedio con cada una de las asignaturas y el promedio se anexe como una nueva columna al final del `DataFrame` original. Cabe se침alar que las notas deben ser redondeadas al segundo decimal.

**To-Do:**
- [ ] Crear funci칩n que nos permite obtener el promedio de cada uno de los alumnos y anexar esta informaci칩n en el `DataFrame` original.

**Respuesta:**

In [ ]:
def alumnos_promedio(dataframe_in):
  dataframe_in['promedio'] = (dataframe_in['math score'] + dataframe_in['reading score'] + dataframe_in['writing score'])/3
  dataframe_in['promedio'] = dataframe_in['promedio'].round(2)
  return dataframe_in

**Respuesta Esperada:**

In [ ]:
df_grades = alumnos_promedio(df_grades)
df_grades.head()

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,promedio
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0,43.00
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0,79.67
5,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0,67.33
6,Howard Jimenez,male,group E,some high school,standard,completed,81.0,75.0,76.0,77.33
7,Wayne Wilson,male,group B,some high school,standard,completed,94.0,86.0,87.0,89.00

### 1.3.3 Reprobados y Destacados [1.5 Punto, 0.5 Cada DataFrame]

Contentos con su desempe침o, la Universidad les solicita que obtengan los alumnos quienes han reprobado el a침o y los que han tenido desempe침o de destacado. Para esto se considerar치 que un alumno ha reprobado el a침o cuando el promedio de notas es inferior a 4.0 en la Escala Chilena, y se considerar치 destacado si posee notas superiores a 5.8 en todas las asignaturas (o sea notas superiores a 5.8 en `math score`, `reading score` y `writing score`).

Cree una funci칩n que permita obtener tres Dataframes: 
- El primero deber치 poseer solamente los alumnos que han reprobado en la prestigiosa universidad.
- El segundo debe entregar un DataFrame similar al original, pero marcado con una "R" el promedio de notas de los alumnos reprobados.
- El tercero ser치 un Data Frame con los alumnos destacados ordenados de mayor a menor.

**To-Do:**

- [ ] Obtener DataFrame con los alumnos que reprobaron el a침o.
- [ ] Obtener DataFrame similar al original, pero marcados con una "R" el atributo GPA de los alumnos reprobados.
- [ ] Obtener DataFrame con los alumnos destacados ordenados de mayor a menor.

**Respuesta:**

In [ ]:
nota = nota_chilena(df_grades,'promedio')
primero = df_grades.loc[(nota < 4)]
segundo = df_grades.loc[(nota >= 4)]
segundo['GPA'] = segundo['promedio']
primero['GPA'] = 'R'
segundo = pd.concat([primero, segundo], ignore_index=True)
print(segundo)
print(segundo.sort_values("promedio",ascending=False))

               names  gender race/ethnicity parental level of education  \
0      Rita Courtney  female        group B            some high school
1        Mikki Amaya  female        group A                 high school
2      Samuel Dougal    male        group C             master's degree
3    Rodger Talavera    male        group B                 high school
4     Morris Johnson    male        group A          associate's degree
..               ...     ...            ...                         ...
870  Laura Cavanaugh  female        group C          associate's degree
871    Richard Young    male        group D                 high school
872   Marina Zeigler  female        group C           bachelor's degree
873    Laurie Carter  female        group B            some high school
874     Amanda Perez  female        group A                 high school

            lunch test preparation course  math score  reading score  \
0        standard                    none        37.0           46.0
1    free/reduced               completed        34.0           48.0
2    free/reduced               completed        46.0           42.0
3    free/reduced                    none        36.0           29.0
4    free/reduced               completed        40.0           55.0
..            ...                     ...         ...            ...
870      standard               completed        62.0           76.0
871      standard                    none        69.0           75.0
872  free/reduced               completed        66.0           74.0
873      standard               completed        54.0           61.0
874      standard               completed        68.0           80.0

     writing score  promedio    GPA
0             46.0     43.00      R
1             41.0     41.00      R
2             46.0     44.67      R
3             27.0     30.67      R
4             53.0     49.33      R
..             ...       ...    ...
870           80.0     72.67  72.67
871           71.0     71.67  71.67
872           81.0     73.67  73.67
873           62.0     59.00   59.0
874           76.0     74.67  74.67

[875 rows x 11 columns]
                 names  gender race/ethnicity parental level of education  \
484      Richard Pryor    male        group E           bachelor's degree
844      Sandra Pompey  female        group E          associate's degree
312  Elizabeth Beasley  female        group E           bachelor's degree
371          Emma Gray  female        group E           bachelor's degree
256       Emma Brasher  female        group D            some high school
..                 ...     ...            ...                         ...
33     Charles Jackson    male        group E            some high school
25         John Gunter    male        group A                some college
71     Richard Guercio    male        group B                 high school
37    Luetta Caponigro  female        group B                 high school
79    Melissa Johnston  female        group C            some high school

            lunch test preparation course  math score  reading score  \
484      standard               completed       100.0          100.0
844      standard                    none       100.0          100.0
312      standard                    none       100.0          100.0
371      standard               completed        99.0          100.0
256      standard               completed        97.0          100.0
..            ...                     ...         ...            ...
33       standard                    none        30.0           26.0
25   free/reduced                    none        28.0           23.0
71   free/reduced                    none        30.0           24.0
37   free/reduced                    none         8.0           24.0
79   free/reduced                    none         0.0           17.0

     writing score  promedio    GPA
484          100.0    100.00  100.0
844          100.0    100.00  100.0
312          100.0    100.00  100.0
371          100.0     99.67  99.67
256          100.0     99.00   99.0
..             ...       ...    ...
33            22.0     26.00      R
25            19.0     23.33      R
71            15.0     23.00      R
37            23.0     18.33      R
79            10.0      9.00      R

[875 rows x 11 columns]

<ipython-input-33-c45aacc53859>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-33-c45aacc53859>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
def reprobados_destacados(dataframe_in):
  notas = nota_chilena(dataframe_in,'promedio')
  primero = dataframe_in.loc[(notas < 4)]
  segundo = dataframe_in.loc[(nota >= 4)]
  segundo['GPA'] = segundo['promedio']
  primero['GPA'] = 'R'
  segundo = pd.concat([primero, segundo], ignore_index=True)
  return primero,segundo,segundo.sort_values("promedio",ascending=False)

In [ ]:
dataframe1, dataframe2, dataframe3 = reprobados_destacados(df_grades)
dataframe1

<ipython-input-34-b375693cb840>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-34-b375693cb840>:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,promedio,GPA
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0,43.00,R
13,Mikki Amaya,female,group A,high school,free/reduced,completed,34.0,48.0,41.0,41.00,R
26,Samuel Dougal,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0,44.67,R
55,Rodger Talavera,male,group B,high school,free/reduced,none,36.0,29.0,27.0,30.67,R
63,Morris Johnson,male,group A,associate's degree,free/reduced,completed,40.0,55.0,53.0,49.33,R
...,...,...,...,...,...,...,...,...,...,...,...
1371,Charles Harian,male,group C,some high school,free/reduced,completed,45.0,52.0,49.0,48.67,R
1373,Wendy Gunnell,female,group D,some high school,free/reduced,none,27.0,34.0,32.0,31.00,R
1389,Diana Costa,female,group C,high school,free/reduced,none,41.0,46.0,43.0,43.33,R
1391,Amy Sieving,female,group C,high school,standard,none,29.0,29.0,30.0,29.33,R
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0,34.33,R

In [ ]:
dataframe2

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,promedio,GPA
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0,43.00,R
1,Mikki Amaya,female,group A,high school,free/reduced,completed,34.0,48.0,41.0,41.00,R
2,Samuel Dougal,male,group C,master's degree,free/reduced,completed,46.0,42.0,46.0,44.67,R
3,Rodger Talavera,male,group B,high school,free/reduced,none,36.0,29.0,27.0,30.67,R
4,Morris Johnson,male,group A,associate's degree,free/reduced,completed,40.0,55.0,53.0,49.33,R
...,...,...,...,...,...,...,...,...,...,...,...
870,Laura Cavanaugh,female,group C,associate's degree,standard,completed,62.0,76.0,80.0,72.67,72.67
871,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0,71.67,71.67
872,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0,73.67,73.67
873,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0,59.00,59.0
874,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0,74.67,74.67

In [ ]:
dataframe3

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,promedio,GPA
484,Richard Pryor,male,group E,bachelor's degree,standard,completed,100.0,100.0,100.0,100.00,100.0
844,Sandra Pompey,female,group E,associate's degree,standard,none,100.0,100.0,100.0,100.00,100.0
312,Elizabeth Beasley,female,group E,bachelor's degree,standard,none,100.0,100.0,100.0,100.00,100.0
371,Emma Gray,female,group E,bachelor's degree,standard,completed,99.0,100.0,100.0,99.67,99.67
256,Emma Brasher,female,group D,some high school,standard,completed,97.0,100.0,100.0,99.00,99.0
...,...,...,...,...,...,...,...,...,...,...,...
33,Charles Jackson,male,group E,some high school,standard,none,30.0,26.0,22.0,26.00,R
25,John Gunter,male,group A,some college,free/reduced,none,28.0,23.0,19.0,23.33,R
71,Richard Guercio,male,group B,high school,free/reduced,none,30.0,24.0,15.0,23.00,R
37,Luetta Caponigro,female,group B,high school,free/reduced,none,8.0,24.0,23.0,18.33,R
79,Melissa Johnston,female,group C,some high school,free/reduced,none,0.0,17.0,10.0,9.00,R

**Respuesta:**

```
Escriba aqui su respuesta
```

### 1.3.4 Consultas de Alumnos [0.5 Puntos]

Algunos padres (extremadamente entrometidos y...) preocupados por el desempe침o de sus hijos, desean saber estos han aprobado o no el a침o. Como la tarea de buscar a mano cada uno de estos alumnos en el `DataFrame` resulta demasiado tedioso, el rector le solicita crear una funci칩n que tenga como entrada el `DataFrame` donde se realizar치 la busqueda y una lista con los nombres de los alumnos, luego la funci칩n deber치 retornar un `DataFrame` con los nombres de los alumnos y el promedio general de cada uno. 

Creada la funci칩n busque el promedio general de los siguientes alumnos en el segundo Data frame creado en la secci칩n 1.3.3:

`['Lucille Stanphill','Marcus Mcfarland', 'Matthew Freeman', 'Dana Mojica', 'Paul Hyder', 'Jeffrey Korn', 'Robert Strain',
'Ronald Jett', 'Lorena Reed', 'Hazel Posey']`

**Hint:** Puede serle de utilidad utilizar `isin()`.

**Respuesta:**

In [ ]:
def consulta_gpa(dataframe_in, lista_alumnos):
    new = dataframe_in['names'].isin(lista_alumnos)
    return dataframe_in[new]


lista_alumnos = [
    "Lucille Stanphill",
    "Marcus Mcfarland",
    "Matthew Freeman",
    "Dana Mojica",
    "Paul Hyder",
    "Jeffrey Korn",
    "Robert Strain",
    "Ronald Jett",
    "Lorena Reed",
    "Hazel Posey",
]
consulta_gpa(dataframe2, lista_alumnos)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,promedio,GPA
34,Matthew Freeman,male,group B,high school,standard,completed,52.0,49.0,46.0,49.00,R
35,Dana Mojica,female,group D,high school,free/reduced,none,39.0,52.0,46.0,45.67,R
67,Ronald Jett,male,group D,high school,free/reduced,none,42.0,39.0,34.0,38.33,R
68,Hazel Posey,female,group B,some high school,free/reduced,none,24.0,38.0,27.0,29.67,R
72,Lorena Reed,female,group C,high school,free/reduced,none,36.0,53.0,43.0,44.00,R
266,Lucille Stanphill,female,group C,high school,standard,none,81.0,84.0,82.0,82.33,82.33
424,Marcus Mcfarland,male,group C,bachelor's degree,standard,completed,63.0,64.0,66.0,64.33,64.33
694,Robert Strain,male,group C,associate's degree,free/reduced,none,55.0,61.0,54.0,56.67,56.67

### 1.3.5 Quintiles de Rendimiento [0.5 Puntos]

El rector, intrigado por saber si existe una relaci칩n entre el nivel educacional de los padres y las notas de sus hijos les plantea estudiar dicha relaci칩n. Para esto, les solicita que desde el `DataFrame` que posee a todos los alumnos (`DataFrame` obtenido tras la limpieza), generen una nueva columna que clasifique en quintiles de rendimiento para sus alumnos: `['Baj칤simo', 'Bajo', 'Medio', 'Alto', 'Muy alto']`. (investigar `qcut()`)

Hecho esto, grafique a trav칠s de un scatter plot el nivel educacional de los padres v/s el promedio de los alumnos, utilice los cuantiles generados anteriormente para mostrar en que cuantil se encuentra cada uno de los datos.

Realizado el grafico, responda la siguiente pregunta: **쮼s posible visualizar alguna tendencia en el gr치fico?.**

**Respuesta:**

In [ ]:
df_grades['GPA cuantiles'] = pd.qcut(
    df_grades["promedio"],
    q=5,
    labels=['Baj칤simo', 'Bajo', 'Medio', 'Alto', 'Muy alto'],
)

In [ ]:
df_grades['parental level of education']

0        some high school
3       bachelor's degree
5        some high school
6        some high school
7        some high school
              ...
1392          high school
1394          high school
1396    bachelor's degree
1397     some high school
1399          high school
Name: parental level of education, Length: 875, dtype: object

In [ ]:
# C칩digo para quintiles 
# La variable que contenga los quintiles debe llamarse GPA cuantiles para que el gr치fico funcione.

# C칩digo de gr치fico 
fig = px.scatter(
    df_grades.sort_values(by="promedio"),
    x="promedio",
    y="parental level of education",
    hover_data=["gender"],
    color="GPA cuantiles",
    title="GPA por Nivel de educaci칩n de los padres",
    color_discrete_sequence=["tomato", "orange", "yellow", "greenyellow", "green"]
)

fig

```
Se puede ver claramente que los alumnos que tuvieron una baja educacion tienen peores resultados, en cambio los alumnos que tienen estudios en proporcion van subiendo los resultados de las notas.
```

# Conclusi칩n
Eso ha sido todo para el lab de hoy, recuerden que el laboratorio tiene un plazo de entrega de una semana. Cualquier duda del laboratorio, no duden en contactarnos por mail o U-cursos.

<p align="center">
  <img src="https://media1.tenor.com/images/2f7df460196625edc45b8380d158e5ee/tenor.gif?itemid=16669403">
</p>

<br>
<center>
<img src="https://i.kym-cdn.com/photos/images/original/001/194/195/b18.png" width=100 height=50 />
</center>
<br>

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=87110296-876e-426f-b91d-aaf681223468' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>